.storybook-button {
  padding: 12px 24px;
  border-radius: 24px;
  border-width: 1px;
  font-size: 14px;
  border-style: solid;
  cursor: pointer;
}

.storybook-button--outlined {
  background-color: transparent;
}

.storybook-button--link {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  padding-bottom: 3px;
}

.storybook-button-small {
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 12px;
}

.storybook-button-large {
  padding: 14px 28px;
  border-radius: 28px;
  font-size: 16px;
}
